/* unvisited link */
a:link {
  color: rgb(112, 183, 241);
}

/* mouse over link */
a:hover {
  transition: transform .5s, filter 1.5s ease-in-out;
  color: rgb(47, 158, 248);
  transform: scale(1.5);
}

/* mouse over link img hover*/
/* a:hover {
  transition: transform .5s, filter 1.5s ease-in-out;
  color: rgb(47, 158, 248);
  transform: scale(1.5);
} */

/* selected link */
a:active {
  color: rgb(247, 247, 247);
} 

/* CSS for image over the other image */
.parent {
position: relative;
top: 0;
left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  width: auto;
}

coming-soon {
  position: absolute;
  top: -25px;
  left: -5px;
  width: 70px;
  content: url("/images/coming-soon.png");
}

new-zine {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 75px;
  content: url("/images/new2.png");
}

/* CSS for image on mouse over zoom */
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s, filter 1.5s ease-in-out;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.img-hover-zoom-icon img {
  transition: transform .5s, filter 1.5s ease-in-out;
  margin-left: 20px;
  margin-bottom: 20px;
}
.img-hover-zoom-icon:hover img {
  transform: scale(2);
}




.blackDiv {
  background-color: #333333;
}
/*
Twitter color : #60a6db
*/

.underline-on-hover a {
  color: #ffd730;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  transition: all ease-in-out 1s;
}
.underline-on-hover a:hover {
  color: #ffd730;
  border-color: #ffd730;
  transform: all ease-in-out 0.5s;
  margin-bottom: 10%;
} 

.underline-on-hover-twitter-link a {
  color: #60a6db;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  transition: all ease-in-out 1s;
}
.underline-on-hover-twitter-link a:hover {
  color: #60a6db;
  border-color:#60a6db;
  transform: all ease-in-out 0.5s;
} 

.twitter-color-a-tag a:link{
  color: rgb(112, 183, 241);
  transform: all ease-in-out 0.5s;
}

@media (min-width: 858px) {
  html {
      font-size: 12px;
  }
}

@media (min-width: 780px) {
  html {
      font-size: 11px;
  }
}

@media (min-width: 702px) {
  html {
      font-size: 10px;
  }
}

@media (min-width: 724px) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 623px) {
  html {
      font-size: 8px;
  }
}


.timeline .stream { height: 100px !important;}
ol.h-feed {height:340px !important;}

